/* Main style rules*/

/*Contents: TODO

*/


body {
  background-color: #000000;
  overflow-y: scroll;
  color:#f1f1f1;
}


/* for debugging */
.outline {
  border: dashed green 1px;
}

.header-wrapper {
  font-size: 100px;
  font-style: italic;
  line-height: 100%;
  padding: 15px;
  padding-top: 0px;
}

.main-content {
  width: 70vw;
  margin: auto;
}

.vid-title {
  text-align: center;
  padding: 10px;
}

/* hack to make iframe reponsive*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*end hack*/
